.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.center-icons {
    width: inherit !important;
}

.book-titles {
    font-size: 1.25em;
}

.extra-strong {
    font-weight: 700 !important;
}

.center-align {
    text-align: center;
}

.row-edit-account {
    margin-bottom: 20vh;
}