{% extends "base.html" %}
{% block content %}

    {% for book in books %}
        {{ book.title }}<br>
        {{ book.author_first }}<br>
        {{ book.author_last }}<br>
        {{ book.date }}<br>
        {{ book.start }}<br>
        {{ book.end }}<br>
    {% endfor %}

    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header">
              <i class="fas fa-caret-down"></i>
              <strong>{{ book.title }}</strong> : {{ book.end }}
            </div>
          <div class="collapsible-body">
              <strong>{{ book.author_first }}</strong>
              <p>{{ book.date }}</p>
          </div>
        </li>
        {% enfor %}
      </ul>

{% endblock %}