{% extends "base.html" %}
{% block content %}

    {% for book in books %}
        {{ book.title }}<br>
        {{ book.author_first }}<br>
        {{ book.author_last }}<br>
        {{ book.date }}<br>
        {{ book.start }}<br>
        {{ book.end }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}