{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header">
              <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == book.created_by|lower %}
                  <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn-small green accent-4">Leave</a>
                  <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}
              </div>
              <div class="col s9">
                {% if session.user|lower in book.members|lower %}
                <a href="{{ url_for('join_club', book_id=book._id) }}" class="btn-small light-blue lighten-1">Joint now</a>
                {% endif %}
                <strong>{{ book.book_title }}</strong> by {{ book.author_first }} {{ book.author_last }}
              </div>
            </div>
          <div class="collapsible-body">
              <p>First Published: {{ book.date }}</p>
              <p>Club Start Date: {{ book.start_date }}</p>
              <p>Club End Date: {{ book.end }}</p>
              <p><em>Book club started by: {{ book.created_by }}</em></p>
              <p><em>{{ book.book_description }}</em></p>
              <p>
                <strong>People in this group:</strong>
                {% for member in book.members %}
                  <span><em><a href="{{ url_for('profiles_other', username=member) }}">{{ member }}</em></span>
                  {% if member == book.members[-1] %}
                    <span><em>{{ "" }}</em></span>
                  {% else %} 
                    <span><em>{{ ", " }}</em></span>
                  {% endif %}
                {% endfor %}
              </p>
          </div>
        </li>
        {% endfor %}
      </ul>

{% endblock %}