{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text darken-4">
                    My Profile
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <ul class="collection">
                <li class="collection-item">
                  <div class="row">
                    <div class="col s6">
                        First Name
                    </div>
                    <div class="col s6">
                        {{this_user.first_name}}
                    </div>
                  </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                          Last Name
                        </div>
                        <div class="col s6">
                          {{this_user.last_name}}
                        </div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            Location
                        </div>
                        <div class="col s6">
                            {{this_user.location}}
                        </div>
                    </div>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            Username
                        </div>
                        <div class="col s6">
                            {{this_user.username}}
                        </div>
                    </div>
                  </li>
              </ul>
        </div>
        <div class="col s3"></div>
    </div>

    
      <div class="center_align row">
          <a href="{{ url_for('edit_details', this_user=this_user) }}" class="btn-small light-blue lighten-1">Edit Details</a>
          <a href="{{ url_for('close_account', this_user=this_user) }}" class="btn-small black">Close Account</a>
      </div>     


    <div class="row">
        <!-- accordion for book clubs that the user is a member of -->
        {% if this_user.clubs_joined|length > 0 %}
        <div class="col s6">
            <ul class="collapsible">
                {% for book in books %}
                {% if username in book.members %}
                    <li>
                        <div class="collapsible-header">
                            <div class="col s1">
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="col s3">
                                {% if session.user|lower not in book.members|lower %}
                                <a href="{{ url_for('join_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-plus fa-sm"></i></a>
                                {% else %}
                                <a href="{{ url_for('leave_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-minus fa-sm"></i></a>
                                {% endif %}
                                <a href="{{ url_for('go_to_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-arrow-right fa-sm"></i></a>
                            </div>
                            <div class="col s8">
                                <strong>{{ book.book_title.title() }}</strong><br>by <em>{{ book.author_first.capitalize() }} {{ book.author_last.capitalize() }}</em> 
                            </div>
                        </div>
                    <div class="collapsible-body">
                        <p>First Published: {{ book.date }}</p>
                        <p>Club Start Date: {{ book.start_date }}</p>
                        <p>Club End Date: {{ book.end }}</p>
                        <p><em>Book club started by: {{ book.created_by }}</em></p>
                        <p><em>{{ book.book_description }}</em></p>
                        <p>
                            <strong>People in this group:</strong>
                            {% for member in book.members %}
                            <span><em><a href="{{ url_for('profiles_other', username=member) }}">{{ member }}</a></em></span>
                            {% if member == book.members[-1] %}
                                <span><em>{{ "" }}</em></span>
                            {% else %} 
                                <span><em>{{ ", " }}</em></span>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- accordion for book clubs created by the user -->
        {% if this_user.clubs_created|length > 0 %}
        <div class="col s6">
            <ul class="collapsible">
                {% for book in books %}
                {% if username in book.created_by %}
                    <li>
                        <div class="collapsible-header">
                        <div class="col s1">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="col s5">
                            {% if session.user|lower not in book.members|lower %}
                                <a href="{{ url_for('join_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-plus fa-sm"></i></a>
                            {% else %}
                                <a href="{{ url_for('leave_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-minus fa-sm"></i></a>
                            {% endif %}
                            <a href="{{ url_for('go_to_club', book_id=book._id) }}" class="btn-floating light-blue lighten-1"><i class="center-icons fas fa-arrow-right fa-sm"></i></a>
                            <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-floating orange"><i class="center-icons fas fa-pencil-alt"></i></a>
                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn-floating red darken-1"><i class="center-icons fas fa-trash"></i></a>
                        </div>
                        <div class="col s6">
                            <strong>{{ book.book_title.title() }}</strong><br>by <em>{{ book.author_first.capitalize() }} {{ book.author_last.capitalize() }}</em>
                        </div>
                        </div>
                    <div class="collapsible-body">
                        <p>First Published: {{ book.date }}</p>
                        <p>Club Start Date: {{ book.start_date }}</p>
                        <p>Club End Date: {{ book.end }}</p>
                        <p><em>Book club started by: {{ book.created_by }}</em></p>
                        <p><em>{{ book.book_description }}</em></p>
                        <p>
                            <strong>People in this group:</strong>
                            {% for member in book.members %}
                            <span><em><a href="{{ url_for('profiles_other', username=member) }}">{{ member }}</a></em></span>
                            {% if member == book.members[-1] %}
                                <span><em>{{ "" }}</em></span>
                            {% else %} 
                                <span><em>{{ ", " }}</em></span>
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
              </ul>
        </div>
        {% endif %}
    </div>

{% endblock %}